.dashboard{
    // width: 100%;

    .emptyView{
        h1{
            font-size: 1.4rem;
            margin-bottom: 5px;
        }
        p{
            background: #fff;
            width: 100%;
            padding: 20px;
            text-align: center;
            border-radius: 8px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    .debitAndCreditCards{
        display: flex;
        width: 100%;
        padding: 25px 36px;
        flex-direction: row;
        justify-content: space-between;
        gap: 13px;
        flex-shrink: 0;
        @media screen and (max-width: 600px){
            padding: 13px 17px;
        }
              
        .card{
            width: 45%;
            padding: 14px;
            border-radius: 25px;
            background: #FFF;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 600px){
                img{
                    width: 80px;
                }
            }

            .totalSumCard{
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                .credit{
                    color: #16DBAA;
                    font-size: 32px;
                }
                .debit{
                    color: #FE5C73;
                    font-size: 25px;
                }
                .caption{
                    color: #718EBF;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                @media screen and (max-width: 600px){
                    .debit{
                        font-size: 13px;
                    }
                    .credit{
                        font-size: 14px;
                    }
                    .caption{
                        font-size: 8px;
                    }
                }
            }
        }
    }
    .transactionsContainer{
        width: 100%;
        margin: 0 auto;
        h1{
            color: #333B69;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: #333B69;
            margin: 8px 0;
            @media screen and (max-width: 576px){
                font-size: 9px;
            }
            @media screen and (min-width: 577px) and (max-width: 767px){
                font-size: 14px;
            }
        }
        .transactionList{
            display: flex;
            padding: 12px 25px 8px 24px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 8px;
            flex-shrink: 0;
            border-radius: 25px;
            background: #FFF;
            li{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width: 576px){
                    img{
                        font-size: 8px;
                    }
                    p{
                        font-size: 7px;
                    }
                    button{
                        font-size: 11px;
                    }
                }
                @media screen and (min-width: 577px) and (max-width: 767px){
                    img{
                        font-size: 13px;
                    }
                    p{
                        font-size: 13px;
                    }
                    
                }
                
            }
        }
        
    }
    .transactionsChart{
        width: 100%;
        height: 300px;
        h1{
            margin-top: 22px;
            font-size: 18px;
            @media screen and (max-width: 600px){
                font-size: 10px;
            }
            margin-bottom: 20px;
        }
    }
}