*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button{
  border: none;
  cursor: pointer;
  padding: 6px 7px;
  background: transparent;
}
ul{
  list-style-type: none;
}
input{
  outline: none;
  border: 2px solid;
}