.logoutModalOverlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Apply blur effect to the background */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logoutContent{
        background: #fff;
        padding: 15px;
        display: flex;
        .logoutIcon{
            font-size: 30px;
            margin-right: 10px;
        }
        div{
            h1{
                font-size: 20px;
            }
            div{
                display: flex;
                align-items: center;
                margin-top: 12px;
                gap: 10px;
                .confirm{
                    
                    border-radius: 8px;
                    background: #DC2626;
                }
                .cancel{
                    border-radius: 8px;
                    border: 2px solid #CBD5E1;
                    background: #FFF;
                }
            }
        }
        .close{
            font-size: 20px;
        }
        
    } 
}